<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <a class="navbar-brand" href="javascript:void(0)">{{ getTitle() }}</a>
      <!-- <img *ngIf src={{logo}} width="40" height="40" alt="Persistent logo image" class="avatar" /> -->
    </div>
    <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav">
        <li class="nav-item">
          <!-- <a class="nav-link" routerLink="dashboard"> -->
          <!-- <i class="material-icons">dashboard</i> -->
          <!-- <i class="image"> -->
          <img src="./assets/img/logo/persistentLogoCroped.png" width="20" height="20" alt="Persistent logo image"
            class="avatar" />
          <!-- </i> -->
          <p>
            <span class="d-lg-none d-md-block">Persistentlogo</span>
          </p>
          <!-- </a> -->
        </li>

        <li class="nav-item">
          <a class="nav-link">
            <a>admin</a>
            <p>
              <span class="d-lg-block d-md-block">Admin</span>
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="dashboard">
            <!-- <i class="material-icons">dashboard</i> -->
            dashboard
            <p>
              <span class="d-lg-none d-md-block">Home</span>
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="user-profile">
            <i class="material-icons">logout</i>
            <p>
              <span class="d-lg-block d-md-block">Account</span>
            </p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>