<!-- <h1>Zoom</h1> -->

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">people</i>
            </div>
            <p class="card-category">Active User</p>
            <h3 class="card-title">
              {{activeUser}}
              <!-- 320 -->
              <!-- <small>Employees</small> -->
            </h3>
          </div>
          <div class="card-footer">
            <!-- <div class="stats">
              <i class="material-icons text-danger">warning</i>
              <a href="javascript:void(0)">Usage is Low required Action</a>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">people</i>
            </div>
            <p class="card-category">Inactive User</p>
            <h3 class="card-title">30</h3>
          </div>
          <div class="card-footer">
            <!-- <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">attach_money</i>
            </div>
            <p class="card-category">Cost(Nov'22)</p>
            <h3 class="card-title">$6.4k</h3>
          </div>
          <div class="card-footer">
            <!-- <div class="stats">
              <i class="material-icons">local_offer</i> Tracked from Github
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">attach_money</i>
            </div>
            <p class="card-category">Cost(YTD)</p>
            <h3 class="card-title">$55.9k</h3>
          </div>
          <div class="card-footer">
            <!-- <div class="stats">
              <i class="material-icons">update</i> Just Updated
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <div class="ct-chart" id="dailySalesChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Daily Sales</h4>
            <p class="card-category">
              <span class="text-success"
                ><i class="fa fa-long-arrow-up"></i> 55%
              </span>
              increase in today sales.
            </p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> updated 4 minutes ago
            </div>
          </div>
        </div>
      </div> -->
      <div class="col-md-6">
        <div class="card card-chart">
          <div class="card-header card-header-info">
            <div class="ct-chart" id="websiteViewsChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Active Users</h4>
            <!-- <p class="card-category">Last Campaign Performance</p> -->
          </div>
          <div class="card-footer">
            <h5>{{activeUser}} active User in the current month (out of {{TotalUser}})</h5>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-warning">
            <div class="ct-chart" id="websiteViewsChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Email Subscriptions</h4>
            <p class="card-category">Last Campaign Performance</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> campaign sent 2 days ago
            </div>
          </div>
        </div>
      </div> -->

      <div class="col-md-6">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <div class="ct-chart" id="completedTasksChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Expense</h4>
            <!-- <p class="card-category">18* is the Average Application usage</p> -->
          </div>
          <div class="card-footer">
            <div class="stats">
              <h5>$59,500 in last 12 months</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <div class="input-group no-border">
              <h3 class="card-title inline-block">User Details</h3>

              <input type="text" value="" class="form-control search" placeholder="Search..." />
              <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon search-button1">
                <i class="material-icons search-button1">search</i>
                <div class="ripple-container"></div>
              </button>
            </div>
            <p class="card-category"></p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>Id</th>
                  <th>Name</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Last_LoggedIn (UTC)</th>
                  <th>Status</th>
                </thead>
                <tbody>
                  <tr>
                    <td>{{userDetails.id}}</td>
                    <td>
                      {{userDetails.firstName}} {{userDetails.lastName}}
                    </td>
                    <td>{{userDetails.pmi}}</td>
                    <td>{{userDetails.email}}</td>
                    <td>{{userDetails.lastLoginTime | date: 'dd/MM/yyyy h:mm:ss a'

                      }}</td>
                    <td [ngClass]="{
                    'text-success': userDetails.status==='active',
                    'text-danger': userDetails.status==='inactive'
                    }">{{userDetails.status}}</td>
                  </tr>

                </tbody>

              </table>
              <div>

                <mat-paginator [length]="22" [pageSize]="6" aria-label="Select page">
                </mat-paginator>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>