<div class="logo">
  <a routerLink="dashboard" class="simple-text"> S . E . M . P </a>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <ul class="nav navbar-nav nav-mobile-menu">
      <li class="nav-item">
        <a class="nav-link" routerLink="user-profile">
          <i class="material-icons">logout</i>
          <p>
            <span class="d-lg-none d-md-block">Log Out</span>
          </p>
        </a>
      </li>
    </ul>
  </div>
  <ul class="nav">
    <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{ menuItem.class }} nav-item">
      <a class="nav-link" [routerLink]="[menuItem.path]">
        <i class="material-icons">{{ menuItem.icon }}</i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
</div>