<!-- <h1>Zoom</h1> -->

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">content_copy</i>
            </div>
            <p class="card-category">Active Apps</p>
            <h3 class="card-title">
              22

              <!-- <small>Employees</small> -->
            </h3>
          </div>
          <div class="card-footer">
            <!-- <div class="stats">
              <i class="material-icons text-danger">warning</i>
              <a href="javascript:void(0)">Usage is Low required Action</a>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">people</i>
            </div>
            <p class="card-category">Users</p>
            <h3 class="card-title">430</h3>
          </div>
          <div class="card-footer">
            <!-- <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">attach_money</i>
            </div>
            <p class="card-category">Cost(Nov'22)</p>
            <h3 class="card-title">$32.5k</h3>
          </div>
          <div class="card-footer">
            <!-- <div class="stats">
              <i class="material-icons">local_offer</i> Tracked from Github
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">attach_money</i>
            </div>
            <p class="card-category">Cost(YTD)</p>
            <h3 class="card-title">$298k</h3>
          </div>
          <div class="card-footer">
            <!-- <div class="stats">
              <i class="material-icons">update</i> Just Updated
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <div class="ct-chart" id="dailySalesChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Daily Sales</h4>
            <p class="card-category">
              <span class="text-success"
                ><i class="fa fa-long-arrow-up"></i> 55%
              </span>
              increase in today sales.
            </p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> updated 4 minutes ago
            </div>
          </div>
        </div>
      </div> -->
      <div class="col-md-6">
        <div class="card card-chart">
          <div class="card-header card-header-info">
            <div class="ct-chart" id="websiteViewsChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Active Users</h4>
            <!-- <p class="card-category">Last Campaign Performance</p> -->
          </div>
          <div class="card-footer">
            <h5>400 active User in the current month (out of 430)</h5>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-warning">
            <div class="ct-chart" id="websiteViewsChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Email Subscriptions</h4>
            <p class="card-category">Last Campaign Performance</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> campaign sent 2 days ago
            </div>
          </div>
        </div>
      </div> -->

      <div class="col-md-6">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <div class="ct-chart" id="completedTasksChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Expenses</h4>
            <!-- <p class="card-category">18* is the Average Application usage</p> -->
          </div>
          <div class="card-footer">
            <div class="stats">
              <h5>$3,18,700 Last 12 months</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>