<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <div class="input-group no-border">
              <h3 class="card-title inline-block">Active SaaS Softwares</h3>

              <input type="text" value="" class="form-control search" placeholder="Search..." />
              <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon search-button1">
                <i class="material-icons search-button1">search</i>
                <div class="ripple-container"></div>
              </button>
            </div>
            <p class="card-category"></p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>Sno.</th>
                  <th>Name</th>
                  <th>Users</th>
                  <th>State</th>
                  <th>Expense(Nov)</th>
                  <th>Expense(YTD)</th>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>
                      <a routerLink="/softwareDashboard/zoom"> ZOOM </a>
                    </td>
                    <td>{{totalUser}}</td>
                    <td>Sanctioned</td>
                    <td class="text-primary">&nbsp;$3,400</td>
                    <td class="text-primary">$36,738</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>
                      <a routerLink="/softwareDashboard"> AWS </a>
                    </td>
                    <td>200</td>
                    <td>Sactioned</td>
                    <td class="text-primary">$2,640</td>
                    <td class="text-primary">$23,789</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>
                      <a routerLink="/softwareDashboard"> SalesForces </a>
                    </td>
                    <td>173</td>
                    <td>In Review</td>
                    <td class="text-primary">$0</td>
                    <td class="text-primary">$0</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>
                      <a routerLink="/softwareDashboard/freshDesk"> FreshDesk </a>
                    </td>

                    <td>329</td>
                    <td>Evaluation Period</td>
                    <td class="text-primary">$3,245</td>
                    <td class="text-primary">$38,735</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>
                      <a routerLink="/softwareDashboard"> Acuity Scheduling </a>
                    </td>
                    <td>320</td>
                    <td>Closed</td>
                    <td class="text-primary">$0</td>
                    <td class="text-primary">$10,236</td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>
                      <a routerLink="/softwareDashboard"> Jump Cloud </a>
                    </td>
                    <td>100</td>
                    <td>Sanctioned</td>
                    <td class="text-primary">$8,200</td>
                    <td class="text-primary">$78,615</td>
                  </tr>
                </tbody>

              </table>
              <div>

                <mat-paginator [length]="22" [pageSize]="6" aria-label="Select page">
                </mat-paginator>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <div class="input-group no-border">

              <h3 class="card-title">Shadow SaaS Softwares</h3>

              <input type="text" value="" class="form-control search" placeholder="Search..." />
              <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon search-button2">
                <i class="material-icons search-button2">search</i>
                <div class="ripple-container"></div>
              </button>
            </div>
            <p class="card-category"></p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>Sno.</th>
                  <th>Name</th>
                  <th>Users</th>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>
                      <a routerLink="/softwareDashboard"> G Suite </a>
                    </td>
                    <td>350</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>
                      <a routerLink="/softwareDashboard"> Concur </a>
                    </td>
                    <td>200</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>
                      <a routerLink="/softwareDashboard"> Oracle </a>
                    </td>
                    <td>173</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>
                      <a routerLink="/softwareDashboard"> Slack </a>
                    </td>

                    <td>329</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>
                      <a routerLink="/softwareDashboard"> Atlassion </a>
                    </td>
                    <td>320</td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>
                      <a routerLink="/softwareDashboard"> Drop box </a>
                    </td>
                    <td>100</td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td>
                      <a routerLink="/softwareDashboard"> Zendesk </a>
                    </td>
                    <td>100</td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>
                      <a routerLink="/softwareDashboard"> SalesLoft </a>
                    </td>
                    <td>100</td>
                  </tr>
                </tbody>
              </table>
              <div>

                <mat-paginator [length]="100" [pageSize]="8" aria-label="Select page">
                </mat-paginator>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>